db/config.xsd


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="config_root">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="basic_filter" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="filter_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="basic_filt_order"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="basic_filt_action"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="src_mac_addr"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="17"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dst_mac_addr"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="17"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ll_prot"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="src_ip_addr"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="src_ip_mask"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dst_ip_addr"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dst_ip_mask"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ip_prot"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="src_porthigh"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="src_portlow"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dst_porthigh"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dst_portlow"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="icmp_type"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tos"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="precedense"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="coco_net_addr" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="sys_intf_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="net_addr_priority" default="1" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dst_ip_addr"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="error_filter" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="errfilt_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="errmask"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="obj_mask"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="80"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="eth_interface" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="eth_intf_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="eth_intf_name"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vlan_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="interface_type"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ins_prior" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="prior_value" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="filter" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="filter_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="filter_name"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="filter_grp_member" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="intf_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="sub_type"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="filter_direction"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="member_order"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="filter_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="gain_control_profile" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="agc_profileid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="agc_prf_name"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ip_mode" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short">
											<xs:minInclusive value="-128"/>
											<xs:maxInclusive value="127"/>
										</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ip_tx_level" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short">
											<xs:minInclusive value="-128"/>
											<xs:maxInclusive value="127"/>
										</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ip_rx_level" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short">
											<xs:minInclusive value="-128"/>
											<xs:maxInclusive value="127"/>
										</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ip_anr" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short">
											<xs:minInclusive value="-128"/>
											<xs:maxInclusive value="127"/>
										</xs:restriction>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="h248_interface" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="sys_intf_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="h248_domain_name"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="64"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="h248_intf_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="h248_intf_prf_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="intf_func" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="h248_intf_options" default="1" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="h248_ns_prf_id" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="h248_intf_profile" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="h248_intf_prf_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="profile_name"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="intf_pfx"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="acc_pfx"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ch_pfx"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="max1num_retrans"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="init_retrans_delay"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="max_retrans_delay"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tmax_retrans_dur" default="2000" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="max_transact_dur" default="7000" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="mg_provis_resp_tm" default="32767" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="mgorig_pend_limit" default="7" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="mgcorig_pend_limit" default="7" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="intf_present" default="1" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="acc_present" default="1" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ch_present" default="1" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="add_stst_desc" default="1" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="eph_term_pfx" default="'E'" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="h248_nonstd_prf" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="h248_ns_prf_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="h248_prf_name"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="h248_prf_data" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="ip_device" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="eth_intf_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ip_addr"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ip_mask"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="ip_route" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dest_ip_addr"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="gw_ip_addr"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="subnet_mask"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="route_metric"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="pmtu"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="route_dsc" default="NULL" minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="256"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="media_options" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="plc_active" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short">
											<xs:minInclusive value="-128"/>
											<xs:maxInclusive value="127"/>
										</xs:restriction>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="mn_sys_interface" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="sys_intf_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="sys_intf_name"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="node_config" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="node_name"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="proxy_rtcp"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short">
											<xs:minInclusive value="-128"/>
											<xs:maxInclusive value="127"/>
										</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="data_release_name"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="protocol_qos" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="protocol_type"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short">
											<xs:minInclusive value="-128"/>
											<xs:maxInclusive value="127"/>
										</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dscp" default="26" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short">
											<xs:minInclusive value="-128"/>
											<xs:maxInclusive value="127"/>
										</xs:restriction>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="rtp_control" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dst_ip_addr"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dst_ip_addr_name"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dst_error_limit"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="error_flag" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="voip_profile" default="1" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="rtp_limit" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="rtp_limit_type"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short">
											<xs:minInclusive value="-128"/>
											<xs:maxInclusive value="127"/>
										</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="rtp_limit_value" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="rtp_limit_alr_on" default="100" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short">
											<xs:minInclusive value="-128"/>
											<xs:maxInclusive value="127"/>
										</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="rtp_limit_alr_off" default="90" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short">
											<xs:minInclusive value="-128"/>
											<xs:maxInclusive value="127"/>
										</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="rtp_limit_sts_time" default="30" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short">
											<xs:minInclusive value="-128"/>
											<xs:maxInclusive value="127"/>
										</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="rtp_limit_tm_valid" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="rtp_limit_sts" default="''" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="32"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="rtp_quality" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="test_type"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="test_mode" default="1" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="test_cycle" default="5" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="d_factor" default="10" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="j_factor" default="10" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="a_factor" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="r_warning_limit" default="70" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="r_error_limit" default="80" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="r_error_filter" default="3" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="module_error_limit"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="voip_codec" default="8" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="quality_profileid" default="1" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="rerl_warning_limit" default="15" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="rerl_error_limit" default="5" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="statistics_group" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="stat_group_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="stat_group_type"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="measurement_status"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="msrmnt_name"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="20"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="msrmnt_start_date"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="msrmnt_end_date"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="week_day_list"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="13"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="msrmnt_start_time"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="msrmnt_end_time"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="measurement_type"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="sys_interface" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="sys_intf_id"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="sys_intf_type" default="14" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="mn_intf_id"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="used_lm" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short">
											<xs:minInclusive value="-128"/>
											<xs:maxInclusive value="127"/>
										</xs:restriction>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="syslog_client" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="log_srv_ip"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="log_srv_udp_port" default="514" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="syslog_state"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="syslog_severity"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="test_program" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tescod"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tesnam"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="runmod"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="testim"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="mintime"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="maxtime"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="tessta"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="runpri"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="vxml_config" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dummy_pk" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxml_active" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxml_sdl_debug" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxml_hsl_code_incl" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="drv_incl" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxml_folder"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="70"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="fetch_timeout" default="30000" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="input_mode" default="3" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="interdigit_timeout" default="1000" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="safe_caching" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="term_dtmf_code"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="term_timeout" default="10000" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="noinput_timeout" default="15000" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="js_memory_size" default="1000000" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dmg_block_size" default="1024" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dmg_block_count" default="1024" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dmg_proxy_addr"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dmg_proxy_port"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="dmg_thread_count" default="10" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="rec_final_silence" default="500" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="rec_max_time" default="300" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="trans_conn_timeout" default="30000" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="trans_call_maxtime" default="600" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="bargein" default="1" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="best_effort_level" default="100" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="lite_level_lc_nr" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="simple_level_lc_nr" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="medium_level_lc_nr" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="advanc_level_lc_nr" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="full_level_lc_nr" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxml_file_transfer" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxmlmaxspeechtout" default="30" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxmlfetchaudiodly" default="3" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxmlfetchaudiomin" default="5" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxmlaudiomaxage"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxmlaudiomaxstale" default="300" minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxmldocmaxage"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxmldocmaxstale" default="0" minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxmlgrammaxage"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxmlgrammaxstale" default="0" minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxmlscriptmaxage"  minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxmlscriptmaxstale" default="0" minOccurs="0" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxml_proxy_type" default="0" minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="vxml_server" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nodeid"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:int"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxml_server_type"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="1"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ip_addr"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxml_port"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							<xs:element name="load_factors"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:string">
											<xs:minLength value="0"/>
											<xs:maxLength value="16"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="vxml_protocol"  minOccurs="1" maxOccurs="1">
								<xs:simpleType>
									<xs:restriction base = "xs:short"/>
								</xs:simpleType>
							</xs:element>
							</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
		<xs:key name="pk_basic_filter">
			<xs:selector xpath=".//basic_filter"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="filter_id"/>
			<xs:field xpath="basic_filt_order"/>
			</xs:key>
		<xs:key name="XPKcoco_net_addr">
			<xs:selector xpath=".//coco_net_addr"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="sys_intf_id"/>
			<xs:field xpath="net_addr_priority"/>
			</xs:key>
		<xs:key name="XPKerror_filter">
			<xs:selector xpath=".//error_filter"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="errfilt_id"/>
			</xs:key>
		<xs:key name="pk_eth_interface">
			<xs:selector xpath=".//eth_interface"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="eth_intf_id"/>
			</xs:key>
		<xs:key name="pk_filter">
			<xs:selector xpath=".//filter"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="filter_id"/>
			</xs:key>
		<xs:key name="pk_filter_group">
			<xs:selector xpath=".//filter_grp_member"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="intf_id"/>
			<xs:field xpath="sub_type"/>
			<xs:field xpath="filter_direction"/>
			<xs:field xpath="member_order"/>
			</xs:key>
		<xs:key name="XPKgain_control_pr">
			<xs:selector xpath=".//gain_control_profile"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="agc_profileid"/>
			</xs:key>
		<xs:key name="XPKh248_interface">
			<xs:selector xpath=".//h248_interface"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="sys_intf_id"/>
			</xs:key>
		<xs:key name="XPKh248_intf_profi">
			<xs:selector xpath=".//h248_intf_profile"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="h248_intf_prf_id"/>
			</xs:key>
		<xs:key name="XPKh248_nonstd_prf">
			<xs:selector xpath=".//h248_nonstd_prf"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="h248_ns_prf_id"/>
			</xs:key>
		<xs:key name="pk_ip_device">
			<xs:selector xpath=".//ip_device"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="eth_intf_id"/>
			<xs:field xpath="ip_addr"/>
			</xs:key>
		<xs:key name="pk_ip_route">
			<xs:selector xpath=".//ip_route"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="dest_ip_addr"/>
			<xs:field xpath="subnet_mask"/>
			</xs:key>
		<xs:key name="XPKmedia_options">
			<xs:selector xpath=".//media_options"/>
			<xs:field xpath="nodeid"/>
			</xs:key>
		<xs:key name="XPKmn_sys_interfac">
			<xs:selector xpath=".//mn_sys_interface"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="sys_intf_id"/>
			</xs:key>
		<xs:key name="XPKnode_config">
			<xs:selector xpath=".//node_config"/>
			<xs:field xpath="nodeid"/>
			</xs:key>
		<xs:key name="XPKprotocol_qos">
			<xs:selector xpath=".//protocol_qos"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="protocol_type"/>
			</xs:key>
		<xs:key name="XPKrtp_control">
			<xs:selector xpath=".//rtp_control"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="dst_ip_addr"/>
			</xs:key>
		<xs:key name="XPKrtp_limit">
			<xs:selector xpath=".//rtp_limit"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="rtp_limit_type"/>
			</xs:key>
		<xs:key name="XPKrtp_quality">
			<xs:selector xpath=".//rtp_quality"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="test_type"/>
			</xs:key>
		<xs:key name="pk_stat_group">
			<xs:selector xpath=".//statistics_group"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="stat_group_id"/>
			</xs:key>
		<xs:key name="XPKsys_interface">
			<xs:selector xpath=".//sys_interface"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="sys_intf_id"/>
			</xs:key>
		<xs:key name="XPKsyslog_client">
			<xs:selector xpath=".//syslog_client"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="log_srv_ip"/>
			</xs:key>
		<xs:key name="XPKtest_program">
			<xs:selector xpath=".//test_program"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="tescod"/>
			</xs:key>
		<xs:key name="XPKvxml_config">
			<xs:selector xpath=".//vxml_config"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="dummy_pk"/>
			</xs:key>
		<xs:key name="XPKvxml_server">
			<xs:selector xpath=".//vxml_server"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="vxml_server_type"/>
			<xs:field xpath="ip_addr"/>
			<xs:field xpath="vxml_port"/>
			<xs:field xpath="vxml_protocol"/>
			</xs:key>
		
		
		
		
		<xs:unique name="XAK1filter">
			<xs:selector xpath=".//filter"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="filter_name"/>
			</xs:unique>
		
		<xs:unique name="XAK1gain_control_p">
			<xs:selector xpath=".//gain_control_profile"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="agc_prf_name"/>
			</xs:unique>
		<xs:unique name="XAK1h248_interface">
			<xs:selector xpath=".//h248_interface"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="h248_domain_name"/>
			</xs:unique>
		<xs:unique name="XAK1h248_intf_prof">
			<xs:selector xpath=".//h248_intf_profile"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="profile_name"/>
			</xs:unique>
		<xs:unique name="XAK1h248_nonstd_pr">
			<xs:selector xpath=".//h248_nonstd_prf"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="h248_prf_name"/>
			</xs:unique>
		
		
		
		<xs:unique name="XAK1mn_sys_interfa">
			<xs:selector xpath=".//mn_sys_interface"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="sys_intf_name"/>
			</xs:unique>
		
		
		
		
		<xs:unique name="XAK1rtp_quality">
			<xs:selector xpath=".//rtp_quality"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="voip_codec"/>
			</xs:unique><xs:unique name="XAK2rtp_quality">
			<xs:selector xpath=".//rtp_quality"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="quality_profileid"/>
			</xs:unique>
		
		
		
		
		
		
		<xs:keyref name="XIF1basic_filter"  refer="pk_filter">
			<xs:selector xpath=".//basic_filter"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="filter_id"/>
			</xs:keyref>
		
	<xs:keyref name="XIF1filter_grp_mem"  refer="pk_filter">
			<xs:selector xpath=".//filter_grp_member"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="filter_id"/>
			</xs:keyref>
		

		<xs:keyref name="XIF1h248_interface"  refer="XPKh248_intf_profi">
			<xs:selector xpath=".//h248_interface"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="h248_intf_prf_id"/>
			</xs:keyref>
		
	<xs:keyref name="XIF2h248_interface"  refer="XPKh248_nonstd_prf">
			<xs:selector xpath=".//h248_interface"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="h248_ns_prf_id"/>
			</xs:keyref>

		
	<xs:keyref name="XIF1ip_device"  refer="pk_eth_interface">
			<xs:selector xpath=".//ip_device"/>
			<xs:field xpath="nodeid"/>
			<xs:field xpath="eth_intf_id"/>
			</xs:keyref>
		
	</xs:element>
</xs:schema>
